.modal {
  position: fixed; 
  top: 0;
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 100 !important;
}

.modalBackground {
  width: 100%; 
  height: 100%; 
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  z-index: 1;
}

.modalText {
  margin: 5%;
  width: 89.5%;
  height: 75%;
}

.modalContainer {
  position: fixed;
  height: 60%;
  width: 40%;
  top: 20%;
  right: 30%;
  background-color: #c5c4c4;
  z-index: 2;
  border-radius: 0.7vw;
}

.modalButton {
  margin-top: 0 !important;
}

.header {
  background-color: rgb(186, 186, 186);
  margin: 0;
  width: 100vw;
  height: 10vh;
  text-align: left;
}

.headerText {
  width: 50%;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 3vh;
  font-family: sans-serif;
}

.mainPanel {
  position: relative;
  background-color: rgb(234, 234, 234);
  margin: 0;
  padding-top: 10vh;
  height: 70vh;
  white-space: nowrap;
  overflow-x: scroll;
  color: rgb(0, 0, 0);
  font-size: 500%;
  user-select: none;
}

.mainPanelContainer {
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
  font-family: monospace;
}

.selectedTab {
  color: rgb(255, 0, 0);
}

.borderTab {
  color: rgb(161, 161, 161);
}

.mainPanelRuler {
  font-size: 50%;
  white-space: break-spaces;
  color:rgb(108, 108, 108)
}

.footer {
  background-color: rgb(197, 197, 197);
  margin: 0;
  width: 100vw;
  height: 10vh;
}

.footerInput {
  float: left;
  margin-top: 3vh;
  margin-left: 2vw;
  width: 7vw;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 0.3vh;
  height: 4vh;
  color: rgb(0, 0, 0);
  font-size: larger;
}

.saveInput {
  float: right;
}

.footerButton {
  float: left;
  margin-top: 3vh;
  margin-left: 2vw;
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  border-radius: 0.3vh;
  height: 4vh;
  width: 5vw;
  border: none;
}

.footerButton:hover {
  background-color: rgb(218, 218, 218);
}


.footerButton:active {
  background-color: rgb(163, 163, 163);
}

.footerSave {
  float: right;
  margin-right: 2vw;
}

.gitIcon {
  float: right;
  width: 3.6vw;
  height: 3.6vw;
  position: absolute;
  right: 1vw;
  top: 1vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a4a4a4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(191, 191, 191);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 216, 216);
}